.styling_sections {
    margin: 1em;
}

.App-header {
    text-align: center;
    margin-bottom: 3em;
}

.App-header h1 {
    font-size: 3em;
}

.title {
    padding-top: 2em;
}

.ui.header .content {
    font-size: 2em;
    line-height: 1em;
}