body {
    text-align: center;
}

.login_link, .signup_link {
    /* border: none; */
    color: inherit;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    cursor: pointer;
    outline: inherit;
    font-size: 1em;
    color: white;
}

.signup_link {
    background: #43A047;
}

.login_link {
    background: #03A9F4;
}

.login_form input, .signup_form input {
    border: 1px solid #D0D0D0;
    margin-left: 10px;
}