.dashboard {
    width: 350px;
    margin: 0 auto;
}

.date {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.user_job {
    margin: 0 0 1em;;
    font-size: 1.2em;
}

.ui.button.dashboard_button {
    background: #2E394F;
    color: #FAF6F6;
    font-size: 1.1em
}

.hello_user {
    font-size: 2em;
    color: #2E394F;
}

.breaks_messages {
    height: 420px;
    width: 90%;
    overflow: scroll;
    margin: 0 auto;
}

    